Backup/Backup/Presentacion/Web References/cl.ssichilexpress.ws/ConsultarComunaCoberturaReq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ConsultarComunaCoberturaReq" elementFormDefault="qualified" targetNamespace="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ConsultarComunaCoberturaReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reqConsultarComunaCobertura" type="ConsultarComunaCoberturaRequestType" />
  <xs:complexType name="ConsultarComunaCoberturaRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="region" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="tipoCobertura" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="usoCobertura" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>