Backup/Datos/Web References/DireccionesSSO/ConsultarRegionesResp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ConsultarRegionesResp" xmlns:eo="http://ws.chilexpress.cl/OSB/EBO/EstadoOperacion" elementFormDefault="qualified" targetNamespace="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ConsultarRegionesResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws.ssichilexpress.cl:80/DireccionesSSO?SCHEMA%2FUT000001_EsquemasComunes%2FResources%2FSchemas%2FEBO%2FEstadoOperacion" namespace="http://ws.chilexpress.cl/OSB/EBO/EstadoOperacion" />
  <xs:element name="respConsultarRegiones" type="ConsultarRegionesResponseType" />
  <xs:complexType name="ConsultarRegionesResponseType">
    <xs:sequence>
      <xs:element name="estadoOperacion" type="eo:EstadoOperacionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="listaRegiones" type="ListaRegionesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaRegionesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="region" type="RegionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="codRegion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="glsNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>