Presentacion/Web References/cl.ssichilexpress.ws/ValidarDireccionReq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ValidarDireccionReq" elementFormDefault="qualified" targetNamespace="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ValidarDireccionReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reqValidarDireccion" type="ValidarDireccionRequestType" />
  <xs:complexType name="ValidarDireccionRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="glsDireccion">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>