Presentacion/Web References/cl.ssichilexpress.ws/ValidarDireccionResp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ValidarDireccionResp" xmlns:eo="http://ws.chilexpress.cl/OSB/EBO/EstadoOperacion" elementFormDefault="qualified" targetNamespace="http://ws.chilexpress.cl/OSB/INTERNO/IMP/ValidarDireccionResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws.ssichilexpress.cl:80/DireccionesSSO?SCHEMA%2FUT000001_EsquemasComunes%2FResources%2FSchemas%2FEBO%2FEstadoOperacion" namespace="http://ws.chilexpress.cl/OSB/EBO/EstadoOperacion" />
  <xs:element name="respValidarDireccion" type="ValidarDireccionResponseType" />
  <xs:complexType name="ValidarDireccionResponseType">
    <xs:sequence>
      <xs:element name="estadoOperacion" type="eo:EstadoOperacionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="listaDirecciones" type="ListaDireccionesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaDireccionesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direccion" type="DireccionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DireccionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="codResultado" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="glsResultado" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="nombreCalle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="numCaracterAnt" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="numeracion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="numCaracterPost" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="complemento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="codRegion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="glsRegion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="glsComuna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="codComuna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="numBlock" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="numDireccion" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="numSegmento" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="valLatitud" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="valLongitud" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>